.header {
	display: flex;
	align-items: center;
	padding: 20px;
}

.main-logo {
	margin: 0 20px 0 0;
	max-width: 40px;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.main-nav {
	@extend %reset-list;
	display: flex;
	line-height: 20px;
	font-size: 18px;
	li {
		margin: 0 20px 0 0;
	}
}
